<div id="contentDiv">
  <mat-tab-group mat-align-tabs="start">

    <!-- ===== content1  == WAEC  ===== -->
    <mat-tab label="WAEC">
      <div class="tab">
        <div class="tableContainer">
          <mat-form-field>
            <!-- type="number" (keyup)="applyFilterWaec($event.target.value)" -->
            <input matInput placeholder="Filter">
          </mat-form-field>
          <div class="mat-elevation-z8">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let waecData of waecDataArray; let i = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <!-- name -->
                    {{waecData.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <!-- reg number -->
                    {{waecData.studentRegNumber}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <p>Examination Number: {{waecData.examNumber}}<br>
                          Examination: {{waecData.examination}}<br>
                          Centre: {{waecData.centre}}</p><br>
                      </div>
                      <div class="row" *ngFor="let data of waecData.result | keyvalue; let i = index">
                        <span style="width: 50%">{{i + 1}}. {{data.key}}</span>
                        <span style="width: 50%">{{data.value}}</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <!-- image -->
                      <cl-image public-id={{waecData.image}} style="cursor : pointer;" (click)="openImage(waecData.image)">
                        <cl-transformation width="200" height="200" crop="scale">
                        </cl-transformation>
                      </cl-image>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!-- <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator> -->
          </div>

        </div>
      </div>
    </mat-tab>

    <!-- ==== content2 == JAMB ==== -->
    <mat-tab label="JAMB">
      <div class="tableContainer">
        <mat-form-field>
          <!-- (keyup)="applyFilterJamb($event.target.value)" -->
          <input matInput placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let jambData of jambDataArray; let i = index">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  <!-- name -->
                  {{jambData.personalDetails['Surname']}} {{jambData.personalDetails['First Name']}}
                </mat-panel-title>
                <mat-panel-description>
                  <!-- reg number -->
                  {{jambData.studentRegNumber}}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <strong>Personal Details</strong>
                    </div>
                    <div class="row" *ngFor="let data of jambData.personalDetails | keyvalue">
                      <p>{{data.key}}: {{data.value}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- image -->
                    <cl-image public-id={{jambData.image}} style="cursor : pointer;" (click)="openImage(jambData.image)">
                      <cl-transformation width="200" height="200" crop="scale">
                      </cl-transformation>
                    </cl-image>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <strong>Subjects</strong>
                    </div>
                    <div class="row" *ngFor="let resultData of jambData.result | keyvalue">
                      <p>{{resultData.key}}: {{resultData.value}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <strong>Choices</strong>
                    </div>
                    <div class="row" *ngFor="let dataChoices of jambData.choices | keyvalue; let i = index">
                      <p>{{i + 1}}. {{dataChoices.value['Institution']}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <!-- <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator> -->
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
