<div id="mainDiv">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
        <td class="even" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th class="even" mat-header-cell *matHeaderCellDef> Email </th>
        <td class="even" mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- course Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
      </ng-container>

      <!-- college Column -->
      <ng-container matColumnDef="college">
        <th class="even" mat-header-cell *matHeaderCellDef> College </th>
        <td class="even" mat-cell *matCellDef="let element"> {{element.college}} </td>
      </ng-container>

      <!-- regNumber Column -->
      <ng-container matColumnDef="regNumber">
        <th mat-header-cell *matHeaderCellDef> Reg. No. </th>
        <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
      </ng-container>

      <!-- admissionYear Column -->
      <ng-container matColumnDef="admissionYear">
        <th class="even" mat-header-cell *matHeaderCellDef> Year </th>
        <td class="even" mat-cell *matCellDef="let element"> {{element.admissionYear}} </td>
      </ng-container>

      <!-- department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

      <!-- admissionStatus Column -->
      <ng-container matColumnDef="admissionStatus">
        <th class="even" mat-header-cell *matHeaderCellDef> Status </th>
        <td class="even" mat-cell *matCellDef="let element"> {{element.admissionStatus}} </td>
      </ng-container>

      <!-- student Image Column -->
      <ng-container matColumnDef="studentAvatar">
        <th mat-header-cell *matHeaderCellDef> student Image </th>
        <td mat-cell *matCellDef="let element">
          <cl-image public-id={{element.studentAvatar}} style="cursor : pointer;" (click)="openImage(element.studentAvatar)">
            <cl-transformation width="70" height="70" crop="scale">
            </cl-transformation>
          </cl-image>
        </td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete Accnt.</th>
        <td mat-cell *matCellDef="let element"><i (click)="deleteAccount(element.regNumber)" id="delete_icon" class="material-icons">delete_forever</i></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <button mat-raised-button (click)="createAccounts()" id="createAccounts" color="primary">Create Accounts</button>
</div>
