table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
#mainDiv{
    padding: 30px;
}

th.mat-header-cell.even, td.mat-cell.even{

    padding-left: 10px
}
th.mat-header-cell, td.mat-cell{
    padding-left: 10px
}
#createAccounts{
  display: block;
  float : right;
  margin-top: 25px;
  margin-bottom: 25px;
}
#delete_icon {
  cursor: pointer;
}