<mat-toolbar>
  <mat-toolbar-row>
    <img src="assets/images/sch-logo.png" alt="school logo">
    <span>  Student Records Portal - Admin</span>
    <i class="material-icons" id="helpIcon">help_outline</i>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-card>
        <mat-card-content>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div id="loginFormHeader">
              <div class="row">
                <div class="col-md-12">
                  <img src="assets/images/login.png" alt="loginImage" id="loginImage">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-card-title>Login</mat-card-title>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <input matInput type="text" placeholder="Email" formControlName="email">
                  <mat-error *ngIf="email.invalid && email.touched">Email is invalid</mat-error>
                  <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" formControlName="password">
                  <mat-error *ngIf="password.invalid && password.touched">Password is invalid</mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span id="loginError" *ngIf="loginError">Authentication Failed</span>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button mat-raised-button id="submitButton" [disabled]="loginForm.invalid || loading" type="submit" color="primary">Login</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
