.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-spacer {
  flex: 1 1 auto;
}
#logoutIcon {
  margin-right: 20px;
  margin-left: 20px;
}
#sch-logo {
  height: 40px;
  width: 40px;
}