<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Sections</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="displayAccounts()">Accounts</a>
      <a mat-list-item (click)="displayDocuments()">Documents</a>
      <a mat-list-item (click)="displayRecords()">Records</a>
      <a mat-list-item (click)="displayResults()">Results</a>
      <a mat-list-item (click)="displayaccountCreation()">Create Accounts</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/images/sch-logo.png" id="sch-logo"/>
      <span>Admin {{section}}</span>
      <span class="example-spacer"></span>
      <mat-form-field [floatLabel]="'never'">
          <input matInput id="searchInput" type="text" placeholder="Search">
      </mat-form-field>
      <i class="material-icons" (click)="logout()" id="logoutIcon" matTooltip="Logout" matTooltipClass="example-tooltip-red">exit_to_app</i>
    </mat-toolbar>
    <router-outlet name="nav"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
