<div id="contentDiv">
  <mat-tab-group mat-align-tabs="start">

    <!-- content1  == STUDENT -->
    <mat-tab label="Student">
      <div class="tableContainer">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- othernames Column -->
            <ng-container matColumnDef="otherNames">
              <th mat-header-cell *matHeaderCellDef> other Names </th>
              <td mat-cell *matCellDef="let element"> {{element.otherNames}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th class="even" mat-header-cell *matHeaderCellDef> Email </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- dob Column -->
            <ng-container matColumnDef="dateOfBirth">
              <th class="even" mat-header-cell *matHeaderCellDef> DOB </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
            </ng-container>
            <!-- pob Column -->
            <ng-container matColumnDef="placeOfBirth">
              <th class="even" mat-header-cell *matHeaderCellDef> Place of Birth </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.placeOfBirth}} </td>
            </ng-container>

            <!-- coo Column -->
            <ng-container matColumnDef="countryOfOrigin">
              <th class="even" mat-header-cell *matHeaderCellDef> Country </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.countryOfOrigin}} </td>
            </ng-container>
            <!-- soo Column -->
            <ng-container matColumnDef="stateOfOrigin">
              <th class="even" mat-header-cell *matHeaderCellDef> State </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.stateOfOrigin}} </td>
            </ng-container>
            <!-- localGovtArea Column -->
            <ng-container matColumnDef="localGovtArea">
              <th mat-header-cell *matHeaderCellDef> Local Govt. Area</th>
              <td mat-cell *matCellDef="let element"> {{element.localGovtArea}} </td>
            </ng-container>
            <!-- address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address</th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            <!-- phoneNumber Column -->
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef> Phone No.</th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>
            <!-- studentPassportPhoto Column -->
            <ng-container matColumnDef="studentPassportPhoto">
              <th mat-header-cell *matHeaderCellDef> Passport</th>
              <td mat-cell *matCellDef="let element">
                <cl-image public-id={{element.studentPassportPhoto}} style="cursor : pointer;" (click)="openImage(element.studentPassportPhoto)">
                  <cl-transformation width="70" height="70" crop="scale">
                  </cl-transformation>
                </cl-image>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumnStudent"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumnStudent;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>


    <!-- content2 == father/Gaurdian1 -->
    <mat-tab label="Father/Gaurdian 1">
      <div class="tableContainer">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="fg1firstName">
              <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.fathersFirstName}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="fg1lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.fathersSurname}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="fg1Email">
              <th class="even" mat-header-cell *matHeaderCellDef> Email </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.fathersEmail}} </td>
            </ng-container>

            <!-- phoneNumber Column -->
            <ng-container matColumnDef="fg1PhoneNumberOne">
              <th mat-header-cell *matHeaderCellDef> Phone No.</th>
              <td mat-cell *matCellDef="let element"> {{element.fathersPhoneNumberOne}} </td>
            </ng-container>
            <!-- phoneNumber2 Column -->
            <ng-container matColumnDef="fg1PhoneNumberTwo">
              <th mat-header-cell *matHeaderCellDef> Phone No. 2</th>
              <td mat-cell *matCellDef="let element"> {{element.fathersPhoneNumberTwo}} </td>
            </ng-container>
            <!-- address Column -->
            <ng-container matColumnDef="fg1Address">
              <th mat-header-cell *matHeaderCellDef> Address</th>
              <td mat-cell *matCellDef="let element"> {{element.fathersAddress}} </td>
            </ng-container>
            <!-- state of origin Column -->
            <ng-container matColumnDef="fg1StateOfOrigin">
              <th mat-header-cell *matHeaderCellDef> State</th>
              <td mat-cell *matCellDef="let element"> {{element.fathersStateOfOrigin}} </td>
            </ng-container>
            <!-- fg1Occupation Column -->
            <ng-container matColumnDef="fg1Occupation">
              <th mat-header-cell *matHeaderCellDef> Occupation</th>
              <td mat-cell *matCellDef="let element"> {{element.fathersOccupation}} </td>
            </ng-container>
            <!-- passport photo Column -->
            <ng-container matColumnDef="fg1PassportPhoto">
              <th mat-header-cell *matHeaderCellDef> PassportPhoto</th>
              <td mat-cell *matCellDef="let element">
                <cl-image public-id={{element.fathersPassportPhoto}} style="cursor : pointer;" (click)="openImage(element.fathersPassportPhoto)">
                  <cl-transformation width="70" height="70" crop="scale">
                  </cl-transformation>
                </cl-image>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumnFather"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumnFather;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>

    <!-- content3 == mother/gaurdian 2-->
    <mat-tab label="Mother/Gaurdian 2">
      <div class="tableContainer">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="mg2firstName">
              <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.mothersFirstName}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="mg2lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.mothersSurname}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="mg2Email">
              <th class="even" mat-header-cell *matHeaderCellDef> Email </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.mothersEmail}} </td>
            </ng-container>

            <!-- phoneNumber Column -->
            <ng-container matColumnDef="mg2PhoneNumberOne">
              <th mat-header-cell *matHeaderCellDef> Phone No.</th>
              <td mat-cell *matCellDef="let element"> {{element.mothersPhoneNumberOne}} </td>
            </ng-container>
            <!-- phoneNumber2 Column -->
            <ng-container matColumnDef="mg2PhoneNumberTwo">
              <th mat-header-cell *matHeaderCellDef> Phone No. 2</th>
              <td mat-cell *matCellDef="let element"> {{element.mothersPhoneNumberTwo}} </td>
            </ng-container>
            <!-- address Column -->
            <ng-container matColumnDef="mg2Address">
              <th mat-header-cell *matHeaderCellDef> Address</th>
              <td mat-cell *matCellDef="let element"> {{element.mothersAddress}} </td>
            </ng-container>
            <!-- state of origin Column -->
            <ng-container matColumnDef="mg2StateOfOrigin">
              <th mat-header-cell *matHeaderCellDef> State</th>
              <td mat-cell *matCellDef="let element"> {{element.mothersStateOfOrigin}} </td>
            </ng-container>
            <!-- mg2Occupation Column -->
            <ng-container matColumnDef="mg2Occupation">
              <th mat-header-cell *matHeaderCellDef> Occupation</th>
              <td mat-cell *matCellDef="let element"> {{element.mothersOccupation}} </td>
            </ng-container>
            <!-- passport photo Column -->
            <ng-container matColumnDef="mg2PassportPhoto">
              <th mat-header-cell *matHeaderCellDef> PassportPhoto</th>
              <td mat-cell *matCellDef="let element">
                <cl-image public-id={{element.mothersPassportPhoto}} style="cursor : pointer;" (click)="openImage(element.mothersPassportPhoto)">
                  <cl-transformation width="70" height="70" crop="scale">
                  </cl-transformation>
                </cl-image>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumnMother"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumnMother;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
