#addExcelFile{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#contentDiv{
    padding: 30px;
}
mat-form-field{
    width: 100%;
}
#uploadMessage{
    color: red;
}
#removeAccount{
    display: block;
    float: right;
    margin-top: 20px;
    margin-bottom : 20px;
}
#submitDocuments {
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    background-color: #4ca0afdb;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
.accountCreationP{
    padding: 10px;
}