<div id="contentDiv">
  <!-- content1 -->
  <div id="upload-header">
    <div id="header-title">
      <p> <strong>Upload a CSV file(.csv) that is exported from an excel file(.xlsx) that contains account details of
          Students to be created.</strong></p>
    </div>
    <div id="header-body">
      <form id="addCSVForm">
        <input type="file" (change)="onFileChange($event); createAccountInputFile.value = ''" mat-raised-button id="addCSVFile" color="primary" placeholder="Add Excel File" #createAccountInputFile>
      </form>
      <p id="uploadMessage">{{uploadMessage}}</p>
    </div>
    <div class="mat-elevation-z8" id="accountCreationResponse" *ngFor="let response of accountCreationResponse; let i = index">
      <p class="accountCreationP">{{i+1}}. {{response}}</p>
    </div>
    <div *ngIf="accountCreationResponse != 0">
      <button mat-raised-button color="accent" (click)="clearAccountCreationMessage()">Clear</button>
      <hr>
    </div>
  </div>
  <div id="upload-body">
    <div class="container">
      <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit(createAccountForm.value)">
        <div formArrayName="accounts">
          <div *ngFor="let account of accountForms.controls; let i = index" [formGroupName]="i">
            <p><strong>Account {{i + 1}}</strong></p>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="First Name" formControlName="firstName" type="text"></mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Last Name" formControlName="lastName" type="text"></mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Email" formControlName="email" type="text"></mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Course" formControlName="course" type="text"></mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="College" formControlName="college" type="text"></mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Reg. Number" formControlName="regNumber" type="text"></mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Admission Year" formControlName="admissionYear" type="text"></mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Department" formControlName="department" type="text"></mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field><input matInput placeholder="Admission Status" formControlName="admissionStatus" type="text"></mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button mat-raised-button color="warn" id="removeAccount" (click)="deleteAccount(i)">Remove Account {{i
                  + 1}}</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <button type="button" mat-raised-button color="primary" (click)="addAccount()">Add Account +1 </button>
        <div class="row">
          <div class="col">
            <button mat-raised-button id="submitDocuments" type="submit" [hidden]="accountForms.controls.length == 0"
              [disabled]="createAccountForm.invalid">Create Account(s)</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
