#contentDiv {
  padding: 30px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tableContainer{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

mat-tab-header{
  margin: 20px;
}