<div id="contentDiv">
  <mat-tab-group mat-align-tabs="start">
    <!-- content1 -->
    <mat-tab label="Recommendation Letter">
      <div class="tableContainer">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- regNumber Column -->
            <ng-container matColumnDef="regNumber">
              <th mat-header-cell *matHeaderCellDef> Reg. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
            </ng-container>

            <!-- recommendationLetter Column -->
            <ng-container matColumnDef="recommendationLetter">
              <th class="even" mat-header-cell *matHeaderCellDef> Image </th>
              <td class="even" mat-cell *matCellDef="let element">
                <cl-image public-id={{element.recommendationLetter}} style="cursor : pointer;" (click)="openImage(element.recommendationLetter)">
                  <cl-transformation width="70" height="70" crop="scale">
                  </cl-transformation>
                </cl-image>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRecLet"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRecLet;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>

    <!-- content2 -->
    <mat-tab label="Jamb Admission Letter">
      <div class="tableContainer">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- regNumber Column -->
            <ng-container matColumnDef="regNumber">
              <th mat-header-cell *matHeaderCellDef> Reg. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
            </ng-container>

            <!-- JambAdLetter Column -->
            <ng-container matColumnDef="jambAdmissionLetter">
              <th class="even" mat-header-cell *matHeaderCellDef> Image </th>
              <td class="even" mat-cell *matCellDef="let element">
                <cl-image public-id={{element.jambAdmissionLetter}} style="cursor : pointer;" (click)="openImage(element.recommendationLetter)">
                  <cl-transformation width="70" height="70" crop="scale">
                  </cl-transformation>
                </cl-image>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsJamb"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsJamb;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>

    <!-- content3 -->
    <mat-tab label="Birth Certificate">
      <div class="tableContainer">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <th class="even" mat-header-cell *matHeaderCellDef> First Name </th>
              <td class="even" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- regNumber Column -->
            <ng-container matColumnDef="regNumber">
              <th mat-header-cell *matHeaderCellDef> Reg. No. </th>
              <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
            </ng-container>

            <!-- birth certificate Column -->
            <ng-container matColumnDef="birthCertificate">
              <th class="even" mat-header-cell *matHeaderCellDef> Image </th>
              <td class="even" mat-cell *matCellDef="let element">
                <cl-image public-id={{element.birthCertificate}} style="cursor : pointer;" (click)="openImage(element.recommendationLetter)">
                  <cl-transformation width="70" height="70" crop="scale">
                  </cl-transformation>
                </cl-image>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBirthCert"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBirthCert;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
